upstream rpc {
   server rpc:8000;
}

upstream static-gateway {
   server static-gateway:80;
}


server {
   listen 80;

   location /rpc {
      proxy_pass http://rpc;
   }

    location /static {
      proxy_pass http://static-gateway;
   }

}